@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  padding: 0 15px;
  width: 100%;
  max-width: 1500px;
  z-index: 1000;
}

.section-title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 90px;
  padding-bottom: 63px;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  background: #ff8944;
  background: linear-gradient(234deg, #ff8944 0%, #ffdf00 74%);
  bottom: 0;
  width: 102px;
  height: 8px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.header {
  position: relative;
  background-image: url("../img/imgBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000;
  opacity: 0.7;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
}

.contacts-left, .contacts-right {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}

.contacts-left li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
}
.contacts-left li a {
  color: white;
}
.contacts-left .phone {
  margin-bottom: 40px;
}

.logo {
  text-align: center;
}

.logo-img {
  fill: #ffe427;
  margin-bottom: 30px;
}

.logo-text {
  color: #ffe427;
}
.logo-text h1 {
  font-size: 1.8rem;
  margin-bottom: 18px;
}
.logo-text h2 {
  font-size: 2.5rem;
}

.contacts-right li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  margin-bottom: 28px;
}
.contacts-right li:last-child {
  margin-bottom: 0;
}

.header-main {
  margin-top: 112px;
}

.main-text {
  font-size: 13rem;
  text-align: center;
  color: white;
}

.secondary-text {
  text-align: center;
  color: white;
  font-size: 2.2rem;
}
.secondary-text p:first-child {
  margin-bottom: 35px;
}
.secondary-text .yellow {
  color: #ffe427;
  font-weight: 900;
}

.header .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 160px;
}
.header .button-wrapper .text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}
.header .button-wrapper .button {
  width: 100%;
  max-width: 800px;
  margin-top: 35px;
  padding: 25px 0;
  background: #ffed6d;
  background: radial-gradient(circle, #ffed6d 0%, #ffde58 74%);
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header-nav {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 65px;
  list-style: none;
}
.header-nav ul li {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
}
.header-nav ul li:hover {
  cursor: pointer;
  color: #ffe427;
}

.steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 90px;
  border-bottom: 2px dashed #1C1D23;
  gap: 50px;
}

.step {
  position: relative;
  max-width: 47%;
  padding: 45px 37px;
  box-shadow: 0px 3px 11px -3px rgba(112, 112, 112, 0.2);
}
.step .text {
  position: relative;
  z-index: 100;
}
.step .title {
  font-size: 4.8rem;
  font-weight: bold;
  margin-bottom: 45px;
}
.step .description {
  font-size: 1.8rem;
}
.step .number {
  position: absolute;
  right: 2%;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18.7rem;
  font-weight: bold;
  color: #F3F3F3;
  z-index: 0;
}
.step:last-child .number {
  color: #ffee6daa;
}

.contact-us .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 50%;
  margin-top: 85px;
  margin-bottom: 30px;
  width: 925px;
  transform: translateX(-50%);
}
.contact-us .button-wrapper .text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.contact-us .button-wrapper .button {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 25px 0;
  background: #ffed6d;
  background: radial-gradient(circle, #ffed6d 0%, #ffde58 74%);
  font-size: 2.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.vertical-dashes_short {
  content: url("../img/Line 79.svg");
  margin: 0 auto;
}

.vertical-dashes_long {
  content: url("../img/Line 80.svg");
  margin: 0 auto;
}

.phone-call-wrapper {
  width: 100%;
}
.phone-call-wrapper .text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 30px 0;
}

.phone-call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.phone-call .number {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.phone-icon-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 138px;
  border: 3px solid #ffe427;
  border-radius: 50%;
}

.phone-icon-fill {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  background: #ffce85;
  background: linear-gradient(234deg, #ffce85 0%, #ffed6d 74%);
}

.service {
  display: flex;
}

.service-half {
  width: 50%;
}

.half-text {
  display: flex;
  justify-content: center;
}

.service-info {
  max-width: 530px;
}
.service-info .title {
  padding-bottom: 35px;
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 2px dashed gray;
}
.service-info .subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  opacity: 0.3;
  margin-top: 20px;
}

.bullets-title {
  margin: 0 0 35px 0;
  font-size: 2rem;
}

.bullets-list {
  list-style: none;
  margin-bottom: 90px;
  padding-left: 0;
}
.bullets-list .bullet {
  position: relative;
  padding: 0 0 0 15px;
  font-size: 2.5rem;
}
.bullets-list .bullet::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 20px;
  background-color: #44ffe6;
}
.bullets-list .bullet:not(:last-child) {
  margin-bottom: 20px;
}

.footnote {
  position: relative;
  padding: 0 0 0 15px;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.footnote::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: #ffe427;
}

.footnote-title {
  margin-bottom: 25px;
}

.footnote-price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.documents-link {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 20px;
}
.documents-link a {
  text-decoration: underline;
  color: black;
}

.services .button-wrapper {
  margin-bottom: 30px;
}
.services .button-wrapper .button {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-top: 35px;
  padding: 25px 0;
  background: #ffed6d;
  background: radial-gradient(circle, #ffed6d 0%, #ffde58 74%);
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.services .button-wrapper .button:hover {
  cursor: pointer;
}

.legalization {
  background-image: url("../img/legalization.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.privatization {
  margin-top: 40px;
}

.privatization-img {
  position: relative;
  background-image: url("../img/privatization.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.description-bullet {
  padding: 10px 0 10px 10px;
  font-size: 1.7rem;
}
.description-bullet:nth-child(1) {
  background-color: #f5f5f5;
}
.description-bullet:nth-child(2) {
  background-color: #ebebeb;
  margin-bottom: 15px;
}

.description-text {
  font-size: 2rem;
  margin-bottom: 60px;
}

.documents-needed {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  max-width: 860px;
  background-color: #fff;
}

.documents-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 18px 0 18px 70px;
}

.documents-subtitle {
  font-size: 2rem;
  background-color: #FFF9CE;
  padding: 10px 0 10px 70px;
  text-align: center;
}

.documents-list {
  padding: 0 15px 0 70px;
}
.documents-list .document {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 40px;
  border-bottom: 2px dashed gray;
  padding-bottom: 20px;
}